@media (max-width: 1024px) {
    .main {
        min-width: 728px;
    }
    .table, .table__head, .table__body {
        min-width: 728px;
    }
    .client > .client__actions {
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .client__id {
        max-width: 100px;
        min-width: 62px;
    }
    .client__name {
        max-width: 230px;
        min-width: 181px;
    }
    .client__create-date {
        max-width: 130px;
        min-width: 72px;
    }
    .client__change-date {
        max-width: 130px;
        min-width: 72px;
    }
    .client .client__contacts {
        max-width: 110px;
        min-width: 108px;
    }
  }